@media screen and (max-height: 710px){

    .download-cta{
        opacity: 0;
    }
}

@media screen and (max-height: 704px){

    .download-cta{
        display: none;
    }
    .profile{
        padding-top: 0;
    }
}




