*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
}

.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}





/* ********** H E A D E R ********* */
header{
    align-items: center;
    justify-content: space-between;
    padding: 0 11px;
    height: 90px;
    background-color: lightblue;
    font-size: 11px;
    color: #b3b3b3;
    background-color: #282828;
    gap: 18px;
}

header i{
    color: #b3b3b3;
    font-size: 14px;
}

header i:hover{
    color: white;
}


/* V I E W - S O N G */
.view-wrapper{
    align-items: center;
    column-gap: 13px;
    width: 210px;
    justify-content: space-between;
}

.view-wrapper img{
    width: 42px;
    height: 42px;
}

.view-wrapper .view-name{
    flex-grow: 1;
}

.view-wrapper .name-song{
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.view-wrapper .name-author{
    font-weight: 500;
    color: #b3b3b3;
}

.name-song:hover, .name-author:hover{
    color: white;
    text-decoration: underline;
}

.view-wrapper .fa-heart{
    color: #20BD5A;
}


/* P L A Y - B A R */
.play-wrapper{
    align-items: center;
    width: 40%;
}


.play-wrapper .fa-play-circle{
    font-size: 28px;
    padding: 0 10px;
    color: white;
}

.fa-play-circle:hover{
    transform: scale(1.4);
}

.play-wrapper .play-bar{
    align-items: center;
    margin-bottom: 13px;
    column-gap: 20px;
}

.play-bar i{
    color: #b3b3b3;
    font-size: 15px;
}

.play-wrapper .step-track{
    width: 100%;
    align-items: center;
    column-gap: 25px;
    justify-content: space-between;
}


/* B A R - S T Y L E */

.track-bar {
    height: 4px;
    background-color: #535353;
    border-radius: 999px;
    flex-grow: 1;
}

.progress-bar{
    height: 4px;
    border-radius: 999px;
    background-color: #b3b3b3;
    position: relative;
}

.progress-bar:hover{
    background-color: #20BD5A;
}

.progress-bar:hover::after{
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}


/* A N I M A T I O N - B A R */
.song_bar.progress-bar{
    width: 0%;
    animation: track_anim 276s linear;
}


@keyframes track_anim {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}


/* V O L U M E */
.volume-wrapper {
    align-items: center;
    gap: 15px;
    width: 210px;
}

.volume-wrapper .livel_vol{
    width: 40%;
}