@media screen and (max-height:735px){
    .download-app{
        display: none;
        transition: display 1s linear;        
    }

    .playlist{
        height: calc(100vh - 360px);
        overflow: auto;
    }
}